// Colors
$color-green-1: #00d55b;
$color-green-2: #2BD977;

// Grey
$color-grey-1: #ffffff; 
$color-grey-2: #dadada; 
$color-grey-3: #a5a5a5; 
$color-grey-4: #4b4e62; 
$color-grey-5: #000000;

// Shadows
$shadow-button: 0.3rem 0.3rem 1rem 0.1rem rgba(0, 0, 0, 0.2);


// Layout
$container-width-sm: 40rem;
$container-width-md: 56rem;
$container-width-lg: 67rem;